@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,500&family=Raleway:wght@100;200;300;400;600&family=Roboto:wght@400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: whitesmoke; */
}

/* .whole {
    height:auto;
    height: 100vh;
    background: whitesmoke;
} */

/* HEADER TOP CSS BEGIN */
header {
    display: flex;
    padding: 15px;
    /* background-color: green; */
}

.hdrleft {
    flex: 70%;
    justify-content: space-between;
    /* border: 2px solid blue; */
    cursor: pointer;
    /* background-color: red;   */
}

.logo-text {
    text-transform: uppercase;
    margin-left: 0.3rem;
    padding: 0;
    font-size: 24px;
    color: #030026;
    font-weight: 700;
}

.hdrright {
    flex: 30%;
    /* border: 2px solid white; */
    position: relative;
}

.fa-search {
    position: absolute;
    top: 10px;
    right: 350px;
    font-size: 10px;
    color: blue;
}

.search {
    position: absolute;
    top: 10px;
    right: 200px;
    font-size: 11px;
    border: 2px solid blue;
    height: 1.2rem;
}

.fa-user-circle {
    position: absolute;
    top: 8px;
    right: 120px;
    font-size: 40px;
}

.adm-name {
    position: absolute;
    top: 7px;
    right: 50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}

.role {
    position: absolute;
    top: 24px;
    right: 85px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
}

/* HEADER TOP CSS END*/

/* DOWN SECTION CSS BEGIN*/
.down {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

/* DOWN SECTION CSS END*/

/* SIDE BAR CSS BEGIN*/
.side {
    flex: 10%;
    border: 1px solid blue;
    position: relative;
    /* background: whitesmoke; */
    /* height: 80vh; */
}

#icn {
    position: absolute;
    padding-left: 1.5rem;
    cursor: pointer;

    font-size: 1.2rem;
    font-weight: 400px;
}

/* i:hover {
    padding-left: 2rem;
    border-radius: 10px;
    width: 200px;
    height: 2rem;
    background-color: blue;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
} */

.fa-th-list {
    top: 1rem;
}

.fa-building {
    top: 5rem;
}

.fa-list {
    top: 9rem;
}

.fa-bookmark {
    top: 13rem;
}

.fa-clone {
    top: 17rem;
}

.fa-signal {
    top: 21rem;
}

.fa-book {
    top: 25rem;
}

.fa-cogs {
    top: 29rem;
}

.fa-cog {
    top: 33rem;
}

/* SIDE BAR CSS END*/

/* DOWN MAIN PAGE CSS BEGIN*/
.main {
    flex: 70%;
    /* background: blue; */
}

.main-container {
    display: flex;
}

.left {
    flex: 30%;
    border: 1px solid red;
    text-align: center;
    /* flex-direction: column; */
}

.left-1, .left-2, .left-3, .left-4 {
    display: flex;
    position: relative;
    text-align: left;
    padding: .3rem;
    background-color: white;
    border: 1px solid green;
}

.pt1{
    flex:50%;
    flex-direction: row;
    height: 7rem;
    /* border: 1px solid green; */
}

.pt2{
    flex:20%;
    flex-direction: row;
    /* border: 1px solid green; */
}
#desc {
    font-size: 20px;
    font-weight: bolder;
}

#stack, #building, #cart {
    position: absolute;
    right: 1rem;
    /* right: 20px; */
 }

 #counter{
    position: absolute;
    left: 1rem;
    top: 3.5rem;
    font-size: 40px;
    font-weight: bolder;
    color: red;
 }

 #graph-1 {
    position: absolute;
    font-size: 40px;
    left: 5rem;
    top: 3.5rem;
    font-weight: bolder;
    color: red;
 }

 #drpdwn-1 {
    position: absolute;
    right: 1.5rem;
    top: 3.5rem;
 }
 
 #today {
    position: absolute;
    right: 3rem;
    top: 4rem;
 }

.left>img {
    font-size: 2rem;
}


.right {
    flex: 70%;
    border: 1px solid brown;
    text-align: center;
    /* flex-direction: row; */
}

.top-right {
    flex: 50%;
    border: 1px solid brown;
    flex-direction: row;
}

.down-right {
    flex: 50%;
    border: 1px solid brown;
    flex-direction: row;
}

/* DOWN MAIN PAGE CSS END */

/* MEDIA QUERY CSS BEGIN */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
}

@media (max-width: 425px) {
   
    .top {
        position:sticky;

    }

    .side {
        display: inline;
        position:sticky;
    }

    .fa-search {
        top: 2.7rem;
        right: 10rem;
    }

    .search {
        top: 2.7rem;
        right: 0.6rem;
    }

    .fa-user-circle {
        top: .5rem;
    }

    .adm-name {
        top: .5rem;
    }

    .role {
        top: 1.5rem;
    }
}

/* MEDIA QUERY CSS END */