* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
}
.sidebar-container {
  flex: 20%;
  background: #ffffff;
  height: 100vh;
}
.sidebar-content {
  padding: 1rem;
}
.sidebar-content li {
  list-style: none;
  margin-bottom: 1.3rem;
}
.sidebar-content ul li a {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
}
.icontext {
  font-size: 1.2rem;
  color: #252525;
  opacity: 0.4;
}
.image-wrapper img {
  padding: 1rem;
}
.main-container {
  flex: 80%;
  background: #e5e5e5;
  height: 100vh;
}
header {
  background: #fff;
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-wrapper {
  display: flex;
  align-items: center;
}
.search-wrapper img {
  width: 18px;
  height: 18px;
  color: #231f20;
}
.search-input {
  border: none;
  outline: 0;
}
::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  opacity: 0.4;
}
.user-wrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.user-info {
  display: flex;
  flex-direction: column;
}
.username {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}
.role {
  font-size: 14px;
  color: #000000;
  opacity: 0.4;
}

.dashboard-analysis {
  padding: 2rem;
}

.dms-dash {
  padding: 5% 3%;
}
/* .dms-dash-1 {
  background-color: rebeccapurple;
} */
.card-1, .card-2, .card-3, .card-4 {
  position: relative;
}

#stack {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.card{
  /* width: 100%; */
  background-color: #fff;
  margin-bottom: .9rem;
  padding: 20px;
  border-radius: 5px;
}
.dms-dash-2 {
  background-color: darkgoldenrod;
  display: flex;
  height: 100%;
}
.dms-dash-3 {
  /* background-color: dodgerblue; */
  display: flex;
  height: 100%;
}
.dms-dash-4 {
  /* background-color: turquoise; */
  display: flex;
  height: 100%;
}
.dms-dash-5 {
  /* background-color: gray; */
  display: flex;
  height: 100%;
}

.grid-item {
  margin-bottom: 1rem;
  padding: 20px;
}
@media (min-width: 576px) {
  .dms-dash {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
  }
  .dms-dash-1 {
    flex-basis: 25%;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
  }
  .top-right {
    display: flex;
    flex-basis: 50%;
  }
  .bottom-right {
    display: flex;
    flex-basis: 50%;
  }
  .dms-dash-2 {
    flex-basis: 25%;
  }
  .dms-dash-3 {
    flex-basis: 75%;
  }
  .dms-dash-4 {
    flex-basis: 35%;
  }
  .dms-dash-5 {
    flex-basis: 65%;
  }
  .right-container .grid-item {
    margin-left: 10px;
  }
}

/*========================================*/

/* @media (max-width: 768px) {
  .icontext {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .icontext {
    display: none;
  }
} */
